body {
    background-color: blanchedalmond;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
    color: black;
    box-shadow: 10px 5px 10px 5px blue;
}

.trello {
    background-color: aqua;
    padding-top: 5px;
    border-radius: 40px;
    padding-bottom: 5pxs;
}

div a {
    display: block;
    color: blue;
}

div li {
    margin: 1.25rem auto;
    max-width: 200px;
    text-align: justify;
}

.sleepOutside {
    background-color: aqua;
    border-radius: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.learn {
    background-color: aqua;
    margin: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}
